:root {
  --bg: rgb(240, 240, 240);
  --bg-hover: rgb(201, 201, 201);
  --text: rgb(59, 59, 59);
}

/****************************** HELPER CLASSES ******************************/

.hidden {
  visibility: hidden;
}

.fade-in-animation {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

 /****************************** GLOBAL ******************************/

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'VT323', monospace;
  padding: 2rem;
  background: var(--bg);
  color: var(--text);
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

img {
  filter: brightness(0);
  image-rendering: crisp-edges;
}

p {
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}


label {
  font-size: 1.2rem;
  padding: 0 0.5rem;
  margin-bottom: -0.7rem;
  margin-left: 0.5rem;
  z-index: 1;
  width: 3.5rem;
  background: var(--bg);
}

input,
button {
  padding: 0.5rem 1rem;
  font-family: 'VT323', monospace;
  font-size: 2rem;
  border: 2px solid var(--text);
  background: var(--bg);
  color: var(--text);
  outline: none;
}

button {
  width: 50%;
  margin-top: -2px; /* Border has 2px */
  cursor: pointer;
}

button:hover,
button:focus-visible {
  background: var(--bg-hover);
}

button:active {
  transform: translateY(1px);
}

/****************************** SCORE ******************************/
.score-container,
.score-group {
  display: flex;
  align-items: center;
}
.score-container {
  justify-content: space-between;
}

.score-group {
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.score,
.high-score {
  font-size: 1.5rem;
  letter-spacing: -1px;

}

/****************************** BUTTONS ******************************/

.buttons {
  display: flex;
}

.submit-button {
  border-right-width: 1px;
}

.next-button {
  border-left-width: 1px;
}

/****************************** ANIMATIONS ******************************/

@keyframes fade-in {
  0% {
    filter: brightness(0);
  }
  100% {
    filter: brightness(1);
  }
}