:root {
  --bg: rgb(240, 240, 240);
  --bg-correct: green;
  --bg-wrong: red;
  --bg-hover: rgb(201, 201, 201);
  --text: rgb(59, 59, 59);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'VT323', monospace;
  padding: 2rem;
  background: var(--bg);
  color: var(--text);
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: 3rem;
}

img {
  filter: brightness(0); /* Animate this */
  transition: filter 0.5s ease-out;
  image-rendering: crisp-edges;
}

.answer {
  font-size: 1.5rem;
  visibility: hidden;
  margin-bottom: 1rem;
}

.guessed {
  filter: brightness(1);
}

.correct {
  background: var(--bg-correct);
}

.wrong {
  background: var(--bg-wrong);
}

label {
  font-size: 1.2rem;
  padding: 0 0.5rem;
  margin-bottom: -0.7rem;
  margin-left: 0.5rem;
  z-index: 1;
  width: 15%;
  background: var(--bg);
}

input,
button {
  padding: 0.5rem 1rem;
  font-family: 'VT323', monospace;
  font-size: 2rem;
  border: 2px solid var(--text);
  background: var(--bg);
  color: var(--text);
  outline: none;
}

.buttons {
  display: flex;
}

button {
  width: 50%;
  margin-top: -2px; /* Border has 2px */
  cursor: pointer;
}

button:hover,
button:focus-visible {
  background: var(--bg-hover);
}

button:active {
  transform: translateY(1px);
}

.submit-button {
  border-right-width: 1px;
}

.next-button {
  border-left-width: 1px;
}

form {
  display: flex;
  flex-direction: column;
}